
{% extends "blog/base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class = "col-sm-12">
			<table class="table table-hover table-bordered">
				<h1> {{post.title}}</h1>
				<p><img src="{{post.photo.url}}" /></p>
				{{post.content|linebreaks}}
				<h4>Comment:</h4>
				<ul>
				{% for comment in post.comment_set.all %}
					<li>
						{{comment.message}}
						by {{comment.author}}
						<a href = "{%url "blog:comment_edit" post.pk comment.pk%}"> Modification</a>
					</li>
				{%endfor%}
				</ul>
				<hr/>
				<a href="{%url "blog:post_list" %}", class ="btn btn-primary"> To List </a>
				<a href="{%url "blog:comment_new" post.pk%}", class ="btn btn-primary"> Adding Comment </a>
			</table>
		</div>
	</div>
</div>



{%endblock%}




